In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import logging
import pandas as pd

from at_industrialization import model

/Users/herbertvanleeuwen/workingdir/at-industrialization/.venv/lib/python3.9/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [3]:
logger = logging.getLogger('notebook')
logging.basicConfig(
    format="%(asctime)s.%(msecs).3d %(levelname)s %(module)s - %(funcName)s: %(message)s",
    level=logging.INFO,
)

In [5]:
hr = pd.read_csv('../data/HR.txt')
X_train, X_test, y_train, y_test = model.preprocessing(hr)
fitted_model = model.fit(X_train, y_train)
model.evaluate_model(fitted_model, X_test, y_test)
model.save(fitted_model, '../app/model.pkl')

2022-01-27 14:08:35,650.650 INFO model - evaluate_model: Accuracy: 0.9690666666666666
2022-01-27 14:08:35,654.654 INFO model - evaluate_model: Confusion Matrix:
Predicted     0    1
Actual
0          2811   51
1            65  823

In [8]:
X_train.describe()

       satisfaction_level  time_spend_company  number_project
count        11249.000000        11249.000000    11249.000000
mean             0.610291            3.495600        3.801671
std              0.248048            1.449544        1.236468
min              0.090000            2.000000        2.000000
25%              0.440000            3.000000        3.000000
50%              0.640000            3.000000        4.000000
75%              0.810000            4.000000        5.000000
max              1.000000           10.000000        7.000000